.container{
    /* background-image: url(../images/bgfin.jpg);
    background-repeat: no-repeat; */
    background-color:rgba(231, 224, 224, 0.438);

}
body{
    /* background-color: #f0134d; */
    background-image: url(../images/AFRICAN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#projname{
    background-color:rgba(231, 224, 224, 0.438); 
}